{% extends 'layout.html' %}

{% block title %}

	Registation

{% endblock %}

{% block body %}

	<section class="bg-danger">

		<nav class="navbar">
			<a class="navbar-brand text-light" href="">Expense App</a>
		</nav>

		<div class="container">
			<div class="row">
				<div class="col-md-8 mt-100">
					<h1 class="text-light display-4 ">Bring the power of Alanlytics to Your Smart Phone</h1>
				</div>

				<div class="col-md-4 mt-100">
					<form class="form" action="/add_user" method="POST">
						<div class="card">
							<div class="card-body">
								<label>Name</label><br>
								<input class="form-control" type="name" name="name"><br>
								<label>Email</label><br>
								<input class="form-control" type="email" name="email"><br>
								<label>Password</label>
								<input class="form-control" type="password" name="password"><br>
								<input class="btn btn-block btn-primary" type="submit"  name="">
								<p class="mt-2">Already a member ? <a href="/">Login here</a></p>
							</div>
						</div>
					</form>

				</div>
			</div>
		</div>
		


	</section>


{% endblock %}