{% extends 'layout.html' %}

{% block title %}

	Login

{% endblock %}

{% block body %}

	<div class="container">
		<h3 class="lead mt-5 text-center display-4">Login Form</h3>

		<div class="row mt-4">
			<div class="col">
				<form class="form" action="/login_validation" method="POST">
					<div class="card">
						<div class="card-body">
							<label>Email</label><br>
							<input class="form-control" type="email" name="email"><br>
							<label>Password</label><br>
							<input class="form-control" type="password" name="password"><br>
							<button class="btn btn-primary">Login</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

{% endblock %}